.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f4f4f4;
  /* Add more styles as needed */
}

/* Style your links, lists, etc., as needed */
.sidebarul {
  list-style-type: none;
  padding: 0;
}

.lia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4;
}

/* Add hover effects, active state styles, etc. */
.lia:hover {
  color: transparent;
  opacity: 0.5;
}
